html, body {
	margin:0;
	height:100%;
	width:100%;
}
body {
    position: relative;
	justify-content: center;
    align-items: center;
    padding:0;
}
.loginPage, .signupPage{
	background:url(/images/login.jpg) center no-repeat;
	background-size: cover;
}
.loginPage:before, .signupPage:before{
	content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.85);
}
.loginPage .wrapper, .signupPage .wrapper{
    background:rgba(255,255,255,1);
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
	padding: 2rem;
	width: 390px;
	height: 520px;
    border-radius: 10px;
    overflow: hidden;
	box-sizing:border-box;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}
.signupPage .wrapper {
	width: 700px;
	height: 625px;
}
.loginPage .logo, .signupPage .logo{
    width: 300px;
    height: 90px;
	margin: 0 auto 25px auto;
}
.loginPage .logo img, .signupPage .logo img{
	width:100%;
	height:auto;
}

.form-row {
	display:block;
}
.bmd-form-group {
	padding-top: 1.5rem;
}
.form-group {
	margin-bottom:0;
}
.signupPage .form-row {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 0 85px 0 0;
	box-sizing:border-box;
}
.signupPage .icon {
	position:absolute;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 25px;
	opacity: 1;
	text-align: center;
	width: 50px;
	height:calc(100% - 25px);
}
.signupPage .icon .fa {
	font-size:18px;
	color:#aaa;
}
.signupPage .form-group {
	display: inline-block;
	width:100%;
	margin-left:70px;
	margin-top: -.5rem;
}
.signupPage .form-row .form-group-col {
	display: inline-block;
	width:auto;
	margin-top: -.5rem;
}
.signupPage .form-row .icon + .form-group-col {
	margin-left:70px;
}
.signupPage .fa {
	line-height: normal;
	vertical-align:bottom;
}
.signupPage .form-row .form-group-nav {
	position: absolute;
    top: 0;
    right: 0;
}
.signupPage .form-row .form-group-nav > div {
    float: left;
    padding: 8px;
    display: block;
    margin-right: 2px;
    cursor: pointer;
}	  
.signupPage .info-pic {
	position:relative;
	width: 160px; 
	height: 160px;
	margin: 0 auto;
}

.signupPage .info-pic {
	position:relative;
	width: 50px; 
	height: 50px;
	margin: 0 auto;
}

.pic-info {border-radius: 50%; width: 160px; height: 160px; position: absolute; top:15px; left: 0; right: 0; margin: 0 auto; border: solid 1px rgba(0,0,0,.05); overflow: hidden; padding: 10px; box-sizing:border-box; background:#fff; z-index:2; box-shadow:0 0 5px rgba(0,0,0,.15); display:flex; align-items:center; justify-content:center;}

.pic-info img {width: 100%; height: auto; position: absolute; left: 0; right: 0; bottom: -10px; margin: 0 auto; padding: 10px;}

.signupPage .pic-info {border-radius: 50%; width: 50px; height: 50px; position: absolute; top:-15px; left: 0; right: 0; margin: 0 auto; overflow: hidden; padding: 2px; box-sizing:border-box; background:#fff; z-index:2; box-shadow:0 0 5px rgba(0,0,0,.15); display:flex; align-items:center; justify-content:center;}		
		  
.signupPage .pic-info img {width: 100%; height: auto; position: absolute; left: 0; right: 0; bottom:0; margin: 0 auto; padding: 10px;}

.pic-info .file-upload {
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,.5) 50%);
	background-size: 100% 200%;
	transition: all .5s;
	color: #FFFFFF;
	font-size: 50px;
}
.pic-info .file-upload input[type='file'] {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
	z-index:1;
}
.pic-info .file-upload:hover {
	background-position: 0 -100%;
	color: #000;
}
.pic-info .file-upload:before {
	content: "\f030";
	display: inline-block;
    font: normal normal normal 30px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	transition: all .5s;
	opacity:0;
	color: #000;
}
.pic-info .file-upload:hover:before {
	opacity:1;
}
.loginPage label.bmd-label-floating {
	padding-left:30px;
}
.loginPage .form-group.is-focused label.bmd-label-floating, .loginPage .form-group.is-filled label.bmd-label-floating{
	color:transparent;
}
.loginPage .form-group.is-focused label.bmd-label-floating:after, .loginPage .form-group.is-filled label.bmd-label-floating:after{
	color:#009688;
}
.loginPage label.bmd-label-floating:after {
	display: inline-block;
	font: normal normal normal 18px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.form-row {
	display:block;
}
.bmd-form-group {
	padding-top: 1.5rem;
}
.form-group {
	margin-bottom:0;
}
.usericon:after {
	content: "\f2c0";
}
.passwdicon:after {
	content: "\f084";
}
.nav-bar {
	padding:15px 0;
	text-align:center;
}
.signup {
	position:absolute;
	display:block;
	width:calc(100% - 4rem);
	bottom:0;
	margin-top:15px;
	margin-bottom:15px;
	
}
.poweredby {
	position:relative;
	font-size:75%;
	text-align:center;
	margin-top:15px;
}
.poweredby strong {
	font-weight:bold;
}