html, body {
	margin:0;
	padding:0;
	font-weight: 400;
	font-family: "Segoe UI", Arial, Helvetica, sans-serif !important;
	font-size: 13px;
	background-color:#ffffff;
	overflow-x:hidden;
}
body.BgColor {
	overflow-x: hidden;
	overflow-y: auto;
	background-color:#ebeff2;
}
body.BgColor > form {
	margin:0;
}
div.mainFormFrame {
	padding-top:70px !important;
	height: calc(100% - 70px) !important;
	max-height:100%;
	box-sizing:border-box;
}
.wrapper {
	position:relative;
	height:100%;
	max-height:100%;
	width:100%;
	overflow:hidden;
}
.left {
	float: left;
}
.right {
	float: right;
}
.cls {
	clear: both;
}
a {
	color: #003399;
}
a:focus, a:active, a:hover {
	color: #aa0000;
}
a, a:focus, a:active, a:hover {
	text-decoration:none;
	outline: none
}
*:focus, input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}
.card {
    font-size: 1rem;
}

/*
.content .main-content > .container-fluid {
	position: relative;
	font-size: 1rem;
	min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: .125rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); 
}
.content .main-content {
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 45px;
}
*/

/* ////////////// Navbar Start ////////////*/
div.mainFormFrame .top-bar {
	padding:0;
	height: 70px;
}
.top-bar {
	position:absolute;
	top:0;
	display: table;
	width: 100%;
	box-sizing: initial;
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	z-index: 98;
	background-color:#fff;
	border-bottom:solid 1px #ddd;
	border-top: 0px solid #FFF;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.top-bar.smaller {
	position:fixed;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}
.navbar {
	margin-bottom:0px !important;
	box-shadow: none;
}
.navbar .logo {
	background:transparent url(/images/logo.png) no-repeat scroll left bottom;
	background-size:contain;
	float:left;
	width: 150px;
    height: 45px;
    margin: 6px;
	padding:0px;
}
.navbar .navbar-right {
	float: right;
	width: auto;
	margin:0;
}
.navbar-nav>.btn-group {
	padding: 5px 0;
	height: 50px;
	width: 50px;
	box-sizing: border-box;
}
.navbar-nav>.btn-group.avatar {
	width: 45px;
	margin:0;
	padding:0;
}
.navbar-nav>.btn-group>a {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	font-size:20px;
	line-height:30px;
	text-decoration: none;
}
.navbar-nav > .btn-group > button, .navbar-nav > .btn-group > button:hover, .navbar-nav > .btn-group > button:active, .navbar-nav > .btn-group > button:focus{
	margin:0;
	padding:0;
	background:none !important;
	border:none;
	outline:none;
}

.navbar .navbar-right .dropdown-toggle::after {
	display:none;
}
.navbar-nav>li.notification>a, .navbar-nav>li.messages>a {
	font-size:15px;
}
.navbar-nav>li.notification .badge-header, .navbar-nav>li.messages>a .badge-header {
	position: absolute;
	font-size: .75em !important;
}
.chat a, .connection a {
	padding:15px 15px!important;
	line-height:normal !important;
}
.language a {
	font-size:13px !important;
}
.avatar a {
	padding:0 !important;
	margin-left:5px;
	margin-right:5px;
}
.avatar_width .avatar-holder {
	width: 45px;
	height: 45px;
	display: inline-block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	line-height: normal;
	padding:0;
	margin-top: 5px;
	background-color: #fff;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}
.avatar_width .avatar-holder img {
	width: 100%;
}
.profile_menu {
	padding:0 !important;
}
.profile_menu .profile_menu-cont {
	margin:15px;
}
.profile_menu .profile_menu-nav {
	background-color: #f1f1f1;
	border-top: 1px solid #ccc;
	padding: 14px 10px 16px 10px;
}
.profile_menu-avatar {
	position: relative;
	display:table-cell;
	vertical-align:top;
	padding-top:6px;
}
.profile_menu-avatar .avatar-holder {
	width: 60px;
	height: 60px;
	display: inline-block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	background-color:#f1f1f1;
}
.profile_menu-avatar .avatar-holder img {
	width: 100%;
}
.profile_menu-details {
	position: relative;
	display:table-cell;
	vertical-align:top;
	padding-left:15px;
	padding-top: 5px;
}
.profile_menu-name {
	color: #1f2d3c;
	font-weight: 600;
}
.profile_menu-mail {
	color: #455a64;
	font-weight:normal;
	font-size:12px;
}
.profile_menu-details .languages {
	margin-top:10px;
}
.profile_menu-details .languages a {
	border:solid 1px #ddd;
	background-color:#f0f0f0;
	padding:4px 8px !important;
	margin:0;
}
.profile_menu-details .languages a:hover {
	border:solid 1px #ddd;
	background-color:#e5e5e5;
	padding:4px 8px !important;
}
.profile_menu .profile_menu-nav {
	background-color:#f1f1f1;
	border-top:1px solid #ccc;
	padding: 20px 5px 20px 5px;
}
.profile-btn a {
	font-weight:600;
	text-decoration:none;
}
.profile-btn.profile-btn-color a {
	background: #fff;
	color: #003399;
	padding:8px 10px !important;
	border:solid 1px #003399;
    box-shadow: 0 2px 2px 0 rgba(0, 51, 153.28), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 51, 153.2);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 51, 153.28), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 51, 153.2);
    -webkit-box-shadow:0 2px 2px 0 rgba(0, 51, 153.28), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 51, 153.2);
}
.profile-btn.profile-btn-color a i {
	color: #003399 !important;
	padding-right: 5px;
}
.profile-btn.profile-btn-color a:hover {
	background:#fff5f5;
	color: #003399 !important;
	padding:8px 10px !important;
}
.profile-btn.logout-btn-color a {
	color: #FFFFFF;
	padding:8px 10px !important;
	background-color: #003399;
	border:solid 1px #003399;
    box-shadow: 0 2px 2px 0 rgba(0, 51, 153.28), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 51, 153.2);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 51, 153.28), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 51, 153.2);
    -webkit-box-shadow:0 2px 2px 0 rgba(0, 51, 153.28), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 51, 153.2);
}
.profile-btn.logout-btn-color a i {
	color: #FFFFFF !important;
}
.profile-btn.logout-btn-color a:hover {
	background: #002570;
	color: #FFFFFF !important;
	padding:8px 10px !important;
}
.animated {
	-moz-animation-duration:.15s;
	-webkit-animation-duration:.15s;
	animation-duration:.15s;
	-moz-animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.dropdown-menu {
	position:absolute !important;
	background-color: #FFFFFF;
	border: 1px solid #ccc;
	border-top: 2px solid #003399;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu:after {
	border-color: transparent transparent #003399 transparent;
	content: "";
	position: absolute;
	top: -10px;
	left: 10px;
	margin: auto;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 8px 8px;
	z-index: 99;
}
.dropdown-right:after, .dropdown-menu:after {
	right: 10px;
	left: auto;
}
.dropdown a {
	color: #222222;
}
.dropdown a:hover {
	color: #000000;
}
.dropdown a:focus, .dropdown a:active {
	color: #000000;
}
/* ////////////// Navbar End ////////////*/

/* ////////////// right sidebar //////////// */

.be-right-sidebar {
	background-color: #FFFFFF;
	margin-top: 65px;
	padding-bottom: 65px;
	position: fixed;
	width: 290px;
	height: 100%;
	right: -290px;
	top: 0;
	bottom: 0;
	border-top: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	z-index: 100;
	-webkit-box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.1);
	box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.be-animate .be-right-sidebar {
	-webkit-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
}
.nav-tabs.nav-justified>li {
	display: table-cell;
	width: 1%;
	background-color: #333333;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
	border: 0px solid #ddd !important;
	background-color: #fff !important;
}
.nav.nav-tabs>li>a {
	color: #fff;
	font-weight:500;
}
.nav.nav-tabs>li>a:hover {
	background: #fff !important;
	color: #000000!important;
	font-weight:500;
}
.nav-tabs.nav-justified>li>a {
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	border-bottom:0 !important;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
	color: #000000;
	font-weight:500;
}
/* ////////////// right sidebar End////////////*/

/* ////////////// Left SideBar Start /////////////*/

.left-bar .menu-parent {
	padding-top: 40px!important;
	margin-bottom: 0;
}
.left-bar {
	background-color: #ffffff;
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
	position: absolute;
	height: 100%;
	width: 266px;
	display: block;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	z-index: 1;
	float: left;
}
a.menu-bar {
	background-color: #003399;
	color: #FFFFFF !important;
	font-size: 17px;
	display: block;
	width: 100%;
	height: 40px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	cursor: pointer;
}
#mainMenu {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.wrapper.max-bar #mainMenu > li {
	display: block;
	padding:5px 10px;
}
.wrapper.mini-bar #mainMenu > li {
	display: block;
	padding:0;
}
#mainMenu li:nth-last-child(1) {
	border-bottom: 0;
}
#mainMenu > li a {
	padding-left: 10px;
	display: inline-block;
	height: 45px;
	width: 100%;
	line-height: 45px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
	position: relative;
	z-index: auto;
	color: #222;
}
#mainMenu > li a:hover{
	background-color: #ebebeb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #ffffff;
}
#mainMenu > li a:hover i{
	
	color: #ffffff;
}
#mainMenu > li a:visited, #mainMenu > li a:active {
	background-color: #003399;
    box-shadow: 0 12px 20px -10px rgba(0, 51, 153.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 51, 153.2);
    -moz-box-shadow: 0 12px 20px -10px rgba(0, 51, 153.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 51, 153.2);
    -webkit-box-shadow: 0 12px 20px -10px rgba(0, 51, 153.28), 0 4px 20px 0px rgba(, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 51, 153.2);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#mainMenu > li a:active, #mainMenu > li a:active i{
	color: #ffffff;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
#mainMenu li.current a:active, #mainMenu > li.active > a, #mainMenu > li.active > a:hover{
	color: #fff;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
	background-color: #003399;
    box-shadow: 0 12px 20px -10px rgba(0, 51, 153, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 51, 153.2);
    -moz-box-shadow: 0 12px 20px -10px rgba(0, 51, 153.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 51, 153.2);
    -webkit-box-shadow: 0 12px 20px -10px rgba(0, 51, 153.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 51, 153.2);
}
.wrapper.max-bar #mainMenu li.current a:active, .wrapper.max-bar #mainMenu > li.active > a, .wrapper.max-bar #mainMenu > li.active > a:hover{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#mainMenu > li.active a i {
	color: #ffffff;
	text-shadow: 0px 0px 2px rgba(255,255,255,0.8);
}
#mainMenu > li a i {
	color: #000;
	margin-right: 10px;
	font-size: 18px;
}
#mainMenu > li a i.chevron {
	font-size: 11px;
	line-height: 50px;
	float: right;
	font-weight: bold;
}
#mainMenu > li.submenu ul {
	background-color: #FFFFFF;
	padding-left: 10px;
	overflow: hidden !important;
}
#mainMenu > li ul > li {
	padding-left: 11px;
	border-bottom-width: 0;
	position: relative;
}
#mainMenu > li ul > li a {
	font-size: 14px;
	height: auto;
	line-height: 30px;
	padding-left: 20px;
}
#mainMenu > li ul > li:before {
	border-left: 1px solid #003399;
	content: '';
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 10px;
}
#mainMenu > li ul > li:after {
	color: #003399;
	content: ".";
	position: absolute;
	left: 6px;
	top: -30px;
	font-size: 45px;
}
.mini-bar #mainMenu > li > ul {
	background-color: #FFFFFF;
	border: 1px solid #d7dce5 !important;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}
a.menu-bar>span {
	font-size: 13px !important;
	float: left!important;
	text-align: left;
	padding-left: 8px;
	padding-top: 0px;
}
.wrapper.mini-bar .showLeftPush a.menu-bar>span {
	-webkit-transition: .1s ease-in-out;
	-moz-transition: .1s ease-in-out;
	-o-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
	opacity: 0;
}
.nav-icon {
	position: absolute;
	right: 0;
	width: 24px;
	height: 18px;
	margin:2px 8px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.nav-icon span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #fff;
	border-radius: 0px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.nav-icon span:nth-child(1) {
	top: 0px;
}
 .nav-icon span:nth-child(2) {
	top: 7px;
}
 .nav-icon span:nth-child(3) {
	top: 14px;
}
.nav-icon.open span:nth-child(1) {
	top: 7px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
.nav-icon.open span:nth-child(2) {
	opacity: 0;
	top: 0px;
	left: 0px;
}
.nav-icon.open span:nth-child(3) {
	top: 7px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.mob-nav-icon {
	position: absolute;
	right: 0;
	width: 24px;
	height: 24px;
	margin:12px 8px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.mob-nav-icon span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #fff;
	border-radius: 0px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.mob-nav-icon span:nth-child(1) {
	top: 0px;
}
 .mob-nav-icon span:nth-child(2) {
	top: 7px;
}
 .mob-nav-icon span:nth-child(3) {
	top: 14px;
}
.mob-nav-icon.open span:nth-child(1) {
	width: 50%;
	left: -3px;
	top: 3px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
.mob-nav-icon.open span:nth-child(2) {
	width: 100%;
	opacity: 1;
	top: 7px;
	left: 0px;
}
.mob-nav-icon.open span:nth-child(3) {
	width: 50%;
	left: -3px;
	top: 11px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
/* ////////////// Left SideBar End /////////////*/

/* ////////////// Content Start /////////////*/
.content {
	position:relative;
	margin-left: 266px;
	-webkit-transition: all 200ms ease-out;
	/* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	-moz-transition: all 200ms ease-out;
	/* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all 200ms ease-out;/* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
	margin-bottom:-1px;
	max-height:100%;
	min-height:90VH;
	float:left;
	width:calc(100% - 266px);
}
.page_header {
	background-color: #f7f7f7;
	border-bottom: solid 1px #ccc;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	width: 100%;
	display: table;
	min-height: 40px;
	padding: 0px 10px;
	box-sizing: content-box;
}
.page_header p.text span {
	float:none;
}
.page_header p.text span.arrow {
	background: url(/images/doublearrowsnav.gif) center center no-repeat;
	background-position:center center;
	background-repeat:no-repeat;
	width:12px;
	height:12px;
	margin: 2px 1px 2px 4px;
}
.page_header p.text-name {
	clear:both;
	padding-top:5px;
	padding-bottom:5px;
	margin:0;
}
/*.pull-left {
	float:none !important;
}
.pull-left p {
	box-sizing:border-box;
	margin-bottom:0;
}*/
.page_header .page_header_icon {
	background-color: #FFFFFF;
	border: 1px solid #003399;
	color: #003399;
	font-size: 20px;
	display: inline-block;
	position: relative;
	padding:0 5px;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	box-sizing:border-box;
	border-radius: 5px;
}
.page_header .main-text {
	/*font-size: 25px;*/
	margin-left: 5px;
	font-size: 18px;
	font-weight:400;
}
.page_header p.text {
	clear: both;
	font-size: 16px;
	max-width: 600px;
	font-size: 11px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.page_header p.text a {
	text-decoration: none;
}
.page_header p.text a:hover {
	text-decoration: underline;
}
.content .main-content {
	padding-left: 0;
	padding-right: 0;
	padding-top: 15px;
	padding-bottom: 50px;
}
.col-md-12 {
	position: relative;
	float: left;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
}
.inpadding {
	padding:10px !important;
}
.nopad-lr {
	padding:10px 0!important;
}
.nopad-tb {
	padding:0 10px!important;
}
.nopad-right {
	padding-right:0 !important;
}
.nopad-left {
	padding-left:0 !important;
}
.nopad-top {
	padding-top:0 !important;
}
.nopad-bottom {
	padding-bottom:0 !important;
}
caption {
	padding:0;
}
.row {
	margin-right: -15px;
	margin-left: -15px;
}
.row:before {
	display: table;
	content:" ";
}
.panel-hl {
	clear: both;
	border-radius: 0px;
	margin-bottom: 15px;
}
.btn {
	font-size: 1rem;
}
/* ////////////// Content End /////////////*/

/* ////////////// Footer Start /////////////*/
div.mainFormFrame .footer {
	position:absolute;
	bottom:0;
	width: 100%;
	left:0;
	right:0;
	background:none;
}
div.mainFormFrame .footer.row {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
div.mainFormFrame .copyrights {
	position: relative;
	background: none;
	text-align: center;
	width: 100%;
	margin:5px auto 10px auto;
}
div.mainFormFrame .footerlogo {
	display:inline;
	margin: 0px;
	width: 100%;
	height:30px;
	background-image: url(/images/hl_bottom_bg_en.png);
	background-repeat: no-repeat;
	text-align: right;
	background-position:0 0;
	padding: 8px 0 0 0;
	float:none;
}
div.mainFormFrame .footerlogo a img {
	vertical-align:baseline;
}
div.mainFormFrame .copyrights {
	box-shadow: 0 0 0 0 #000 inset;
	padding:0;
}
div.mainFormFrame .copyrights .text {
	display:inline;
	font-size: 11px;
	text-align: left;
	box-sizing: border-box;
	vertical-align:middle;
}
div.mainFormFrame .copyrights .text a {
	text-decoration: none;
}
div.mainFormFrame .copyrights .text a:hover {
	text-decoration: none;
}
/* ////////////// Footer End /////////////*/

/* ////////////// Scroll Top /////////////*/
.scroll-Top {
	width:45px;
	height:45px;
	padding:10px 8px;
	text-align:center;
	font-weight: bold;
	font-size:20px;
	text-decoration: none;
	position:fixed;
	bottom:15px;
	right:15px;
	display:none;
	box-sizing:border-box;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	z-index:9;
	background-color: #00468c;
	background: rgba(0, 70, 140, .8);
	color: #fff;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
}
.scroll-Top:active, .scroll-Top:focus, .scroll-Top:hover {
	color: #fff;
	background: rgba(0, 70, 140, 1);
}
/* ////////////// Scroll Top End /////////////*/


/* ------- data table ----------*/
.card-header .card-title {
	margin:0;
}
.card-header a {
	font-weight:normal;
	text-transform:none;
	margin:0;
}
div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
	padding-top: 0;
    padding-bottom: 0;
}
.pagination {
	margin:0;
}
.table td {
	padding: .25rem .75rem;
    vertical-align: middle;
}

.form-group{
	position: relative;
	margin-bottom: 30px;
}
.form-control-placeholder {
  position: absolute;
  top: 0;
  transition: all 200ms;
  color: #868383;
  line-height: 15px;
  margin-bottom: 0px;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 90%;
  transform: translate3d(0, -100%, 0);
}

/*.ui.selection.dropdown{
	border:0px solid;
	border-radius: 0px;
	border-bottom: 1px solid rgba(0,0,0,.26);
}
.ui.dropdown:not(.button)>.default.text{
	color: #495057;
}
.ui.selection.dropdown {
	padding: .78571429em 0em .78571429em 0em
}*/
.form-control {
  display: block;
  width: 100%;
  /*padding: 0.375rem 0.75rem 0.375rem 0;*/
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border:0px;
  /*border-radius: 0.25rem;*/
  /*transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;*/
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #35CD35;
  outline: 0;
  /*box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);*/
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  
}

.form-control::-moz-placeholder {
  color: #6c757d;
  
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
 
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
}

.form-control::placeholder {
  color: #6c757d;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-map-location{
	height: 150px;
}
.form-row .form-group:last-child {
  margin-bottom: 0px;
}
td.image img{
	max-height: 50px;
	max-width: 50px;
}
td.image{
	padding:0.25em;
	text-align: center;
}