.headerbar{
	background: red;
	padding:20px 0px;
	color: #FFFFFF;
	font-size: 24px;
	width: 100%;
	float: left;
}
.headerbar .headerbar-left {
	padding-left: 20px;
	float: left;
}
.headerbar .headerbar-left a{
	color: #FFFFFF;
	text-decoration: none;
}
.headerbar .headerbar-right {
	padding-right: 20px;
	float: right;
}

.footerbar{
	padding:10px 0px;
	background: #ef6f6f;
	float: left;
	/*bottom: 0;*/
	width: 100%;
}
.footerbar .footerbar-left{
	float: left;
	padding-left: 20px;
}
.footerbar .footerbar-right{
	float: right;
	padding-right: 20px;
}
.footerbar .footerbar-left a,.footerbar .footerbar-right a{
	text-decoration: none;
}
.page-content{
	width: 80%;
	float: right;
	min-height: 90VH;
}
.content{
	padding:20px 20px;
	float: left;
	width: 100%;
}

.navigation-bar{
	background: #d63939;
	float: left;
	width:20%;
	margin-bottom: -5000px;
	padding-bottom: 5000px; 
	overflow: hidden;
}
.navigation-bar ul {
	padding: 20px;
}
.navigation-bar ul li {
	list-style: none;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #FFF;
}
.navigation-bar ul li a{
	color: #FFF;
}

.googleLocationDiv{
	width: 600px;
	height: 200px;
	background: #CCC;
	overflow: hidden;
	position: absolute;
}
.button-block {
	float: left;
	margin-top: 220px;
}
.dashboard-card{
	background: #CCC;
	height:150px;
	vertical-align: middle;
	text-align: center;
	margin-top: 30px;
}
.visitors-chart{
	height: 350px;
}
.people-near-me {
	background: #CCC;
	width: 100%;
	height: 75VH;
	margin-top: 20px;
}