@media only screen and (min-width: 700px) and (max-width: 6000px) {
	.mini-bar .left-bar {
		width: 40px;
		overflow: visible !important;
		z-index: 97;
		position: absolute;
	}
	.mini-bar .left-bar .admin-logo {
		width: 40px !important;
	}
	.mini-bar .left-bar .panel-group .panel + .panel {
		margin-top: 0 !important;
	}
	.mini-bar .left-bar.right-bar-menu .menu-parent .icon, .mini-bar .left-bar .side-bar.right-bar-menu .menu-parent .icon {
		float: none;
		position: relative;
		top: 0;
	}
	.mini-bar .left-bar .menu-parent li:before {
		display: none !important;
	}
	.mini-bar .left-bar .menu-parent li:after {
		display: none;
	}
	.mini-bar .left-bar .menu-parent li span.text {
		display: none;
	}
	.mini-bar .left-bar li {
		padding: 0;
		padding-bottom: 0 !important;
		text-align: center !important;
		position: relative;
	}
	.mini-bar .left-bar li a {
		line-height: 20px !important;
		font-size: 13px !important;
		text-align: left;
		padding:6px 10px;
	}
	.mini-bar .left-bar li a i {
		padding: 0;
		display: inline-block;
		margin-top: 7px;
	}
	.mini-bar .left-bar li a i.chevron {
		display: none !important;
		position: absolute;
	}
	.mini-bar #mainMenu > li.submenu ul, .mini-bar #mainMenu > li ul > li {
		padding-left:0;
	}
	.mini-bar .left-bar li ul {
		position: absolute;
		left: 100%;
		min-width: 200px;
		top: -1px;
		margin-left: 1px;
		padding: 0;
	}
	.mini-bar .left-bar li ul li {
		line-height: 30px;
	}
	.mini-bar .left-bar li ul li a {
		padding: 4px 10px;
	}
	.mini-bar #mainMenu > li ul > li a {
		padding-left:10px;
	}
	.mini-bar .left-bar li ul .drop-arrow i.chevron {
		display: block !important;
		margin-top: 2px;
	}
	.mini-bar .left-bar.right-bar-menu li ul {
		left: auto !important;
		right: 100% !important;
		min-width: 200px;
		top: -1px;
		margin-left: 1px;
		padding: 0;
	}
	.mini-bar .left-bar.right-bar-menu li ul li {
		line-height: 30px;
	}
	.mini-bar .left-bar.right-bar-menu li ul .drop-arrow i.chevron {
		display: block !important;
		margin-top: 2px;
	}
	.mini-bar .left-bar.right-bar-menu li ul .drop-indicator.chevron {
		margin-left: 10px !important;
	}
	.mini-bar .left-bar .admin-logo .logo-holder {
		display: none;
	}
	.mini-bar .left-bar .admin-logo a.menu-bar {
		width: 90px;
	}
	.mini-bar .content {
		margin-left: 40px;
		width:calc(100% - 40px);
	}
	.mini-bar .content.right-menu-enabled {
		margin-left: 0;
		margin-right: 40px;
	}
	.right-bar-enabled .right-bar {
		right: 0;
		z-index: 99;
	}
	.right-bar-enabled .left-layout {
		left: 0;
		z-index: 99;
	}
	.hide-left-bar .left-bar {
		display: none;
	}
	.hide-left-bar .content {
		margin-left: 0px;
	}
	.hide-left-bar .navbar-right {
		height: 70px;
		width: 120px;
		line-height: 70px;
		padding: 0;
		padding-left: 20px;
		font-size: 30px;
	}
	.hide-left-bar .navbar-right img {
		width: 100%;
	}
}
@media only screen and (min-width: 700px) and (max-width: 1200px) {
	div.mainFormFrame .top-bar {
		z-index:103;
	}
	a.menu-bar {
		display:none;
	}
	.left-bar .menu-parent {
		padding-top:0px!important;
	}
	.left-bar {
		width: 40px;
		overflow: visible !important;
		z-index: 999;
		position: absolute;
	}
	.left-bar .admin-logo {
		width: 40px;
	}
	.left-bar .panel-group .panel + .panel {
		margin-top: 0 !important;
	}
	.left-bar .menu-parent > li ul > li, .left-bar .side-bar .menu-parent > li ul > li {
		padding-left: 0;
	}
	.left-bar .menu-parent > li ul > li li, .left-bar .side-bar .menu-parent > li ul > li li {
		padding-left: 0;
	}
	.left-bar.right-bar-menu .menu-parent .icon, .left-bar .side-bar.right-bar-menu .menu-parent .icon {
		float: none;
		position: relative;
		top: 0;
	}
	.left-bar .menu-parent li:before {
		display: none !important;
	}
	.left-bar .menu-parent li:after {
		display: none;
	}
	.left-bar .menu-parent li span.text {
		display: none;
	}
	.left-bar .menu-parent > li ul > li a, .side-bar .menu-parent > li ul > li a {
		padding-left: 10px;
	}
	.left-bar li {
		padding: 0;
		padding-bottom: 0 !important;
		text-align: center !important;
		position: relative;
	}
	.left-bar .menu-parent > li ul > li a, .side-bar .menu-parent > li ul > li a {
		line-height: 30px !important;
	}
	.left-bar li a {
		line-height: 30px !important;
		font-size: 13px !important;
		text-align: left;
	}
	.left-bar li a i {
		padding: 0 !important;
		display: inline-block;
		margin-top: 7px;
	}
	.left-bar li a i.chevron {
		display: none !important;
		position: absolute;
	}
	.left-bar li ul {
		position: absolute;
		left: 100%;
		min-width: 200px;
		top: -1px;
		margin-left: 1px;
		padding: 0;
		padding-left: 0 !important;
	}
	.left-bar li ul li {
		line-height: 30px;
	}
	.left-bar li ul .drop-arrow i.chevron {
		display: block !important;
		margin-top: 2px;
	}
	.left-bar.right-bar-menu li ul {
		left: auto !important;
		right: 100% !important;
		min-width: 200px;
		top: -1px;
		margin-left: 1px;
		padding: 0;
	}
	.left-bar.right-bar-menu li ul li {
		line-height: 30px;
	}
	.left-bar.right-bar-menu li ul .drop-arrow i.chevron {
		display: block !important;
		margin-top: 2px;
	}
	.left-bar.right-bar-menu li ul .drop-indicator.chevron {
		margin-left: 10px !important;
	}
	.left-bar .admin-logo .logo-holder {
		display: none;
	}
	.left-bar .admin-logo a.menu-bar {
		width: 60px;
	}
	#mainMenu > li > a {
		height: 45px;
	}
	.mini-bar .left-bar li ul {
		overflow:hidden;
		overflow-y:auto;
	}
	.content {
		margin-left: 40px;
		width: calc(100% - 40px);
	}
	.content.right-menu-enabled {
		margin-right: 40px;
	}
	.navbar-right .dropdown-menu {
		right: 5px;
		left: auto;
	}
	.profile_menu {
		 right: 0px !important; 
	}
}
@media all and (max-width: 899px) {
	.search_submit input[type="text"]:focus {
		width: 275px;
	}
}
@media (min-width: 768px) {
	.navbar-right .dropdown-menu {
		right: 5px;
		left: auto;
	}
}
@media all and (max-width: 767px) {
	.navbar-right .open .dropdown-menu {
		position: absolute !important;
		float: none;
		width: 100% !important; 
		margin-top: 0;
		margin-left: 0;
		background-color: #FFFFFF; 
		border: 1px solid #ccc; 
		border-top: 2px solid #003399; 
		box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
		-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	}
	.search_submit input[type="text"]:focus {
		width: 225px;
	}
}
@media all and (max-width: 699px) {
	div.mainFormFrame .top-bar {
		height: 55px;
	}
	.navbar .logo {
		position: relative;
		background: transparent url(/images/logo_mobile.png) no-repeat scroll left bottom;
		width: 43px;
		height: 43px;
		margin: 5px;
	}
	.top-bar .navbar-right {
		height:55px;
	}
	.navbar-nav>li {
		height: 55px;
		padding: 3px 0 0 0;
	}
	div.mainFormFrame {
		padding-top: 57px !important;
		height: calc(100% - 57px) !important;
	}
	.max-bar .left-bar {
		overflow:hidden;
		overflow-y:auto !important;
	}
	.nav-justified>li>a, .nav-tabs.nav-justified>li>a{
		margin-bottom:0;
	}
	.navbar-right .open .dropdown-menu {
		position: absolute !important;
		float: none;
		width: 100% !important; 
		margin-top: 0;
		margin-left: 0;
		background-color: #FFFFFF; 
		border: 1px solid #ccc; 
		border-top: 2px solid #003399; 
		box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
		-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	}
	.overlay.show {
		background-color: #000000;
		background: rgba(0, 0, 0, .1);
		position: fixed;
		height: 100%;
		min-height: 100%;
		max-height: 100%;
		width: 100%;
		display: block;
		z-index:101;
		top:0;
		overflow:hidden;
	}
	.blur {
		-webkit-filter: blur(2.5px);
		-moz-filter: blur(2.5px);
		-o-filter: blur(2.5px);
		-ms-filter: blur(2.5px);
		filter: blur(2.5px);
	}
	.top-bar {
		z-index: 10;
	}
	.content {
		position:relative;
		z-index: 9 !important;
		margin-left: 0;
		width:100% !important;
	}
	.content .main-content {
		padding-right: 15px;
		padding-bottom: 50px;
	}
	.page_header {
		padding: 0px 10px;
	}
	.left-bar {
		position: fixed !important;
		float: none;
		height: 100% !important;
		max-height: 100% !important;
		width: 266px;
		display: block;
		-webkit-transition: all 200ms ease-out;
		/* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
		-moz-transition: all 200ms ease-out;
		/* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
		transition: all 200ms ease-out;
		/* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
		overflow-y: auto;
		margin-left: -266px;
		z-index:102;
		/*overflow-x: hidden !important;*/
		top:0;
	}
	.left-bar .menu-parent {
		padding-top: 0px!important;
	}
	.left-bar .menu-bar {
		display: none !important;
	}
	.left-bar .logo-holder, .side-bar .logo-holder {
		float: none !important;
		text-align: center !important;
		margin: 0 auto;
	}
	.left-bar.menu_appear, .side-bar.menu_appear {
		margin-left: 0;
	}
	.left-bar.menu_appear.right-bar-menu, .side-bar.menu_appear.right-bar-menu {
		margin-right: 0;
	}
	.left-bar .menu-parent, .side-bar .menu-parent {
		padding-top: 0;
	}
	.menu-bar-mobile {
		position: fixed !important;
		background-color:#003399;
		top:5px;
		right:5px;
		width: 40px;
		height: 40px;
		z-index:11;
		cursor:pointer;
		box-shadow: 0 2px 2px 0 rgba(255, 0, 0, 0.28), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(255, 0, 0, 0.2);
		-moz-box-shadow: 0 2px 2px 0 rgba(255, 0, 0, 0.28), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(255, 0, 0, 0.2);
		-webkit-box-shadow:0 2px 2px 0 rgba(255, 0, 0, 0.28), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(255, 0, 0, 0.2);
	}
	.right-bar-menu {
		margin-right: -266px;
	}
	div.mainFormFrame .copyrights {
		margin: 5px auto;
	}
	div.mainFormFrame .footerlogo {
		display: block;
		padding:0;
		margin:0 auto;
		text-align:center;
		height: 30px;
		background-position: center;
	}
	div.mainFormFrame .copyrights .text {
    	display: block;
		text-align:center;
	}
	.be-right-sidebar {
		margin-top: 110px;
		padding-bottom: 110px;
	}
}
@media only screen and (min-width: 600px) and (max-width: 699px) {
	div.mainFormFrame {
		padding-top: 57px !important;
		height: calc(100% - 57px) !important;
	}
	.menu-bar-mobile {
		position: fixed !important;
		background-color: #003399;
		top: 8px;
		left: 60px;
		width: 40px;
		height: 40px;
		z-index: 99;
		cursor: pointer;
	}
	.be-right-sidebar {
		margin-top: 110px;
		padding-bottom: 110px;
	}
}
@media all and (max-width:599px) {
	div.mainFormFrame {
		padding-top: 112px !important;
		height: calc(100% - 112px) !important;
	}
	.navbar .logo {
		width: 100%;
		float: none;
		background-color:#eeeeee;
		border-bottom:solid 1px #dddddd;
		margin:0;
		height:55px;
		background-position:5px 5px;
	}
	.navbar .navbar-right {
		float: none;
		width: 250px;
		margin: 0 auto;
	}
	.navbar .navbar-right>li:first-child, .search_submit{
		display:none;
	}
	.connection_menu {
		left:-25px !important;
		right:0 !important;
	}
	.connection_menu:after {
		right: auto;
		left: 40px;
	}
	.notification_menu {
		left:-75px !important;
		right:0 !important;
	}
	.notification_menu:after {
		right: auto;
		left: 90px;
	}
	.messages_menu {
		left:-125px !important;
		right:0 !important;
	}
	.messages_menu:after {
		right: auto;
		left: 140px;
	}
	.profile_menu {
		left:-225px !important;
		right:0 !important;
	}
	.profile_menu:after {
		right: auto!important;
		left: 240px!important;
	}
	.page_header {
		min-height: 70px;
	}
	.page_header p.text {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.be-right-sidebar {
		margin-top: 112px;
		padding-bottom: 112px;
	}
}
@media all and (min-width: 300px) {
	.navbar-nav>li {
		float: left;
	}
	body.open-right-sidebar .be-right-sidebar {
		right: 0;
	}
}